{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>CurationStation</title>
</head>

<body>
  <nav>
    <div class='nav-wraper'>
      <span class='brand-logo left' style='padding-left: 25px;'>
        <a href={% url 'index' %} class='black-text'>CurationStation</a>
      </span>
      {% if request.user.is_authenticated %}
      <ul id='nav-mobil' class='right hide-on-med-and-down'>
        <li style='padding-right: 25px;'>
          <a class='btn waves-effect indigo accent-2' href={% url 'logout' %}>
            Logout <i class='material-icons right'>exit_to_app</i>
          </a>
        </li>
      </ul>
      {% endif %}
    </div>
  </nav>
  <div class='container'>
    {% block content %}
    {% endblock %}
  </div>

  <footer class='page-footer' style='background-color: #8B2635'>
    <div class='row'>
      <div class='col s12'>
        <h5 class='black-text right-align'>Created by Xristos Katsaros</h5>
      </div>
    </div>
  </footer>

  <script>
    M.AutoInit();
  </script>

</body>
</html>