{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

<div class='center white-text'>
    <p>Welcome to CurationLab v0.1a! This project is meant to help people discover music outside of the Spotify algorithm, and make it easier to support artists directly 
    on <a href='https://bandcamp.com'>Bandcamp</a>. After registering an account, you'll be able to edit your profile to provide your Bandcamp username (fan accounts), 
    Spotify username, and your location. With these details, CurationLab can make a map of Bandcamp artists based on your location, create a Spotify playlist of your 
    most recent Bandcamp purchases, and create a list of Bandcamp links to the artists in your current Spotify playlists.</p>
    <div class='row'>
        <a class='btn waves-red indigo accent-2' href={% url 'login' %}>LOGIN</a>
        <a class='btn waves-red indigo accent-2' href={% url 'register' %}>SIGNUP</a>
    </div>
</div>

{% endblock %}